{% extends 'base.html' %}
{% block title %}Time Tracker | Home{% endblock title %}
{% block content %}
<div id="wrap" class="container pt-5">
    <h2>About the App</h2>
    <p>The Simple Time Tracker is an efficient and user-friendly web application built using the Django framework,
        designed to streamline time management and enhance productivity. With an intuitive interface, users can easily
        log their work hours, assign tasks, and categorize projects seamlessly. Leveraging Django's robust backend
        capabilities, the Simple Time Tracker ensures data integrity and security, allowing users to track their time
        with confidence. The application features a clean dashboard that provides a quick overview of ongoing projects,
        time spent, and upcoming deadlines. Additionally, it offers the flexibility to generate detailed reports, making
        it a valuable tool for both individual freelancers and teams managing collaborative projects. With its
        simplicity and Django's scalability, the Simple Time Tracker proves to be an invaluable resource for
        professionals seeking an effective solution for time tracking within the Django ecosystem.</p>
</div>


{% endblock content %}