<form class="tt-form" action="{% if user.id == employee.id %}/api/v1/employees/{{ employee.id }}/update_login/{% else %}/api/v1/employees/{{ employee.id }}/{% endif %}" data-redirect="/employees/" data-method="PATCH">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column ps-5 pe-5 pe-md-2 mb-3 mb-md-2">
                <div class="form-floating">
                    <input class="form-control" name="first_name" type="text" value="{{ employee.first_name }}">
                    <label class="form-label" for="first_name">First Name</label>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column ps-5 pe-5 ps-md-2 mb-3 mb-md-2">
                <div class="form-floating">
                    <input class="form-control" name="last_name" type="text" value="{{ employee.last_name }}">
                    <label class="form-label" for="last_name">Last Name</label>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column ps-5 pe-5 pe-md-2 mb-3 mb-md-2">
                <div class="form-floating">
                    <input class="form-control" name="email" type="text" value="{{ employee.email }}">
                    <label class="form-label" for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column ps-5 pe-5 ps-md-2 mb-3 mb-md-2">
                <div class="form-floating">
                    <input class="form-control" name="password" type="password" value="">
                    <label class="form-label" for="password">Pin</label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex flex-column px-5">
                <a class="submit btn btn-primary px-5 w-100 mt-3" type="submit" href="#" role="button">Edit</a>
                <p class="error-container text-danger mb-0 fw-bold">&nbsp;</p>
            </div>
        </div>
    </div>
</form>